html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

.fullheight {
    height: 100%;
}

.sidebar {
  text-align: center;
}

.col-md-8 {
  padding:0;
}

.post-button {
  position:absolute;
  bottom:0;
  width:100%;
  margin-bottom: 50px;
  padding-right:30px;
}
